[Desktop Entry]
Version=1.0
Name=Popchain Core
Comment=Popchain P2P Cryptocurrency
Comment[fr]=POPCHAIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=POPCHAIN, eşten eşe kriptografik sanal para birimi
Exec=popchain-qt %u
Terminal=false
Type=Application
Icon=popchain128
MimeType=x-scheme-handler/popchain;
Categories=Office;Finance;
StartupWMClass=Popchain-qt
