policy_module(popchain, 1.100.1)

########################################
#
# Declarations
#

type popchain_t;
type popchain_exec_t;
init_daemon_domain(popchain_t, popchain_exec_t)

permissive popchain_t;

type popchain_initrc_exec_t;
init_script_file(popchain_initrc_exec_t)

type popchain_conf_t;
files_type(popchain_conf_t)

type popchain_var_lib_t;
files_type(popchain_var_lib_t)

type popchain_var_run_t;
files_type(popchain_var_run_t)

type popchain_port_t;
corenet_port(popchain_port_t)

########################################
#
# popchain local policy
#
allow popchain_t self:process { fork };

allow popchain_t self:fifo_file rw_fifo_file_perms;
allow popchain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(popchain_t, popchain_conf_t, popchain_conf_t)
manage_files_pattern(popchain_t, popchain_conf_t, popchain_conf_t)

manage_dirs_pattern(popchain_t, popchain_var_lib_t, popchain_var_lib_t)
manage_files_pattern(popchain_t, popchain_var_lib_t, popchain_var_lib_t)
files_var_lib_filetrans(popchain_t, popchain_var_lib_t, { dir file })

manage_dirs_pattern(popchain_t, popchain_var_run_t, popchain_var_run_t)
manage_files_pattern(popchain_t, popchain_var_run_t, popchain_var_run_t)

sysnet_dns_name_resolve(popchain_t)
corenet_all_recvfrom_unlabeled(popchain_t)

allow popchain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(popchain_t)
corenet_tcp_sendrecv_generic_node(popchain_t)
corenet_tcp_sendrecv_all_ports(popchain_t)
corenet_tcp_bind_generic_node(popchain_t)

gen_require(`
    type popchain_port_t;
')
allow popchain_t popchain_port_t:tcp_socket name_bind;

gen_require(`
    type popchain_port_t;
')
allow popchain_t popchain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(popchain_t)

files_read_etc_files(popchain_t)

miscfiles_read_localization(popchain_t)

sysnet_dns_name_resolve(popchain_t)

allow popchain_t popchain_exec_t:file execute_no_trans;
allow popchain_t self:process setsched;
corecmd_exec_ls(popchain_t)
corenet_tcp_connect_http_port(popchain_t)
dev_read_urand(popchain_t)
fs_getattr_xattr_fs(popchain_t)
kernel_read_system_state(popchain_t)
